/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Site wide styles */

@media (prefers-color-scheme: light) {
    :root {
        --base-unit: 4px;
        --color-primary-bg: rgb(250,250,250);
        --color-secondary-bg: rgb(255,255,255);
        --color-border: rgb(219,219,219);
        --color-primary-font: rgb(38,38,38);
        --color-secondary-font: rgb(142,142,142);
        --color-link: rgb(0, 149, 246);
        --color-link-faded: #b3dbff;
        --color-red: #af2634;
        --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        --gradient: linear-gradient(107.16deg,#ec0d78 20.37%,#ff2b40 44.58%,#f75735 66.71%,#fe880e 86.77%,#fe880e 0);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --base-unit: 4px;
        --color-primary-bg: rgb(18,18,18);
        --color-secondary-bg: rgb(0,0,0);
        --color-border: rgb(54,54,54);
        --color-primary-font: rgb(255,255,255);
        --color-secondary-font: rgb(142,142,142);
        --color-link: rgb(0, 149, 246);
        --color-link-faded: #b3dbff;
        --color-red: #af2634;
        --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    }
}
::selection {
    background-color: var(--color-link);
    color: #fff;
    text-shadow: none;
}
a, button {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-primary-font);
}

body {
    background-color: var(--color-primary-bg);
    color: var(--color-primary-font);
    font-family: var(--font-family);
    scroll-behavior: smooth;
    color: var(--color-primary-font);
}
.logo {
    fill: var(--color-primary-font);
    color: var(--color-primary-font);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-primary-bg) inset !important;
  color: var(--color-secondary-font);
}
strong {
    font-weight: bold;
}
.errors li {
    background-color: rgb(210, 170, 170);
    color: rgb(121, 23, 23);
    border: 1px solid rgb(121, 23, 23);
    border-radius: var(--base-unit);
    padding: calc(var(--base-unit)*4);
    margin-bottom: calc(var(--base-unit)*4);
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: calc(var(--base-unit)*10);
    row-gap: calc(var(--base-unit)*10);
}
.grid img {
    width: 100%;
}