header.navigation {
    padding: calc(var(--base-unit) * 4) 0;
    background-color: var(--color-secondary-bg);
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: center;
    overflow: visible;
    align-items: flex-start;
}
header.navigation nav {
    margin: 0 calc(var(--base-unit) * 10);
    width:100vw;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.navigation .profileButton {
    border: 1px solid var(--color-border);
    font-weight: bold;
    padding: calc(var(--base-unit) * 2) calc(var(--base-unit) * 4);
    border-radius: calc(var(--base-unit) * 10);
    background: var(--color-secondary-bg);
}
header.navigation .relative {
    position: relative;
}
header.navigation .profile-dropdown {
    position: absolute;
    top: calc(var(--base-unit) * 10);
    right:0;
    border: 1px solid var(--color-border);
    background-color: var(--color-secondary-bg);
    border-radius: calc(var(--base-unit) * 2);
    width: max-content;
}
header.navigation .profile-dropdown a {
    padding: calc(var(--base-unit) * 2) calc(var(--base-unit) * 4);
    margin: calc(var(--base-unit) * 2);
    display: block;
    border-radius: calc(var(--base-unit) * 2);
}

header.navigation .profile-dropdown a:hover, header.navigation .loggedOutButtons li a:hover {
    color: white;
    background-color: var(--color-link);
}
header.navigation .profileButton:hover {
    color:white;
    background: linear-gradient(107.16deg,#ec0d78 20.37%,#ff2b40 44.58%,#f75735 66.71%,#fe880e 86.77%,#fe880e 0);
}
header.navigation .profileButton span {
    margin-left: calc(var(--base-unit) * 2);
}
header.navigation .loggedOutButtons {
    display: flex;
}
header.navigation .loggedOutButtons li a {
    border: 1px solid var(--color-border);
    font-weight: bold;
    padding: calc(var(--base-unit) * 2) calc(var(--base-unit) * 4);
    border-radius: calc(var(--base-unit) * 10);
    background: var(--color-secondary-bg);
    margin-left: calc(var(--base-unit) * 4);
}